In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
data_dir = '/opt/ml/input/data/train'
df = pd.read_csv(os.path.join(data_dir, 'train.csv'))
paths = df['path'].to_numpy()
labels = (df['gender'].map({'male': 0, 'female': 1}) * 3 + df['age'] // 3).to_numpy()

In [16]:
df['age']

0       45
1       52
2       54
3       58
4       59
        ..
2695    19
2696    19
2697    19
2698    20
2699    19
Name: age, Length: 2700, dtype: int64

In [15]:
def age_parse(age):
    if age < 30:
        return 0
    elif age < 56:
        return 1
    else:
        return 2
parsed_age = df['age'].map(age_parse)
parsed_age

0       1
1       1
2       1
3       2
4       2
       ..
2695    0
2696    0
2697    0
2698    0
2699    0
Name: age, Length: 2700, dtype: int64

In [9]:
df

          id  gender   race  age                    path
0     000001  female  Asian   45  000001_female_Asian_45
1     000002  female  Asian   52  000002_female_Asian_52
2     000004    male  Asian   54    000004_male_Asian_54
3     000005  female  Asian   58  000005_female_Asian_58
4     000006  female  Asian   59  000006_female_Asian_59
...      ...     ...    ...  ...                     ...
2695  006954    male  Asian   19    006954_male_Asian_19
2696  006955    male  Asian   19    006955_male_Asian_19
2697  006956    male  Asian   19    006956_male_Asian_19
2698  006957    male  Asian   20    006957_male_Asian_20
2699  006959    male  Asian   19    006959_male_Asian_19

[2700 rows x 5 columns]